/* TODO: remove */
.list-view>li {
  outline: solid black 1px;
}



.list-view {
  padding-left: 0;
  height: 470px;
  overflow-y: scroll;
}

@media (min-width: 576px) {
  .list-view {
    max-height: 540px;
  }
}

@media (min-width: 768px) {
  .list-view {
    max-height: 720px;
  }
}

@media (min-width: 992px) {
  .list-view {
    max-height: 960px;
  }
}

@media (min-width: 1200px) {
  .list-view {
    max-height: 1140px;
  }
}

.list-view>li {
  list-style-type: none;
  margin-top: .5em;
  padding: 0;
}

.empty-list-indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-loading-indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}